<p id="notice"><%= notice %></p>
<h1>News</h1>
<%= link_to '+ New', new_news_path, class: "controls-link block" %>
<br>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Headline</th>
      <th>Image</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= "#{news.headline.first(80)} (...)" %></td>
        <td><%= news.image %></td>
        <td><%= news.date %></td>
        <td><%= "#{news.description.first(100)} (...)" %></td>
        <td><%= link_to 'Show', news %></td>
        <td><%= link_to 'Edit', edit_news_path(news) %></td>
        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
