<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>
<p>
  <strong>Headline:</strong>
  <%= @news.headline %>
</p>
<% if @news.image.present? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @news.image, width: 300 %>
  </p>
<% end %>
<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @news.description %>
</p>
<p>
  <strong>Authors:</strong>
  <%= Author.find(@news.authors_id).name %>
</p>
<p>
  <strong>News categories:</strong>
  <%= NewsCategory.find(@news.news_categories_id).name %>
</p>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
